@{
    ViewData["Title"] = "Create";
}
@model Quote

<div class="text-center">
    <form method="post">
        <h1>Create Quote</h1>
        <h3>Enter the quote and author in order for the web application to properly store your new quote.</h3>

        <div asp-validation-summary="All"></div>

        <label asp-for="QuoteSentence">Quote: </label>
        <input asp-for="QuoteSentence" class="form-control" />
        <br />

        <label asp-for="Author">Author: </label>
        <input asp-for="Author" class="form-control" />
        <br />



        <label asp-for="Date">Date: </label>
        <input asp-for="Date" class="form-control" type="date" />
        <br />


        <label asp-for="Subject">Subject: </label>
        <input asp-for="Subject" class="form-control" />
        <br />


        <label asp-for="Citation">Citation: </label>
        <input asp-for="Citation" class="form-control" />
        <br />

        <button type="submit" class="btn btn-primary">Submit</button>
    </form>

</div>